.DS_Store
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.tm_build_errors
*.TM_Completions.txt.gz
build/
Test/Tmp
Documentation/
!Documentation/doxyclean
!Documentation/*.graffle
!Documentation/*.png
!Documentation/*.txt
