<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>uk.co.geoffgarside.framework.Git.docset</string>
	<key>CFBundleName</key>
	<string>Git Framework</string>
	<key>DocSetFeedName</key>
	<string>Git Framework Documentation</string>
</dict>
</plist>
